target/
limine/
miku-os/
**/target/
*.img
*.is
logs/
*.log
.vscode/
.idea/
*.swp
*.tmp
*.bash
all_code.txt
WIKI.md
kernel/drivers/gpu/nvidia/firmware/*/
src/nvidia/firmware/
src/nvidia/gtx1650/tu116/
*.bin
!src/lib/ld_miku/ld-miku.bin
firmware.img
iso_root/
/refsrc/
